* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(97, 138, 254, 0.9);
}

.bmi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.bmi__box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.bmi__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.bmi__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bmi__input-group {
  display: flex;
  flex-direction: column;
}

.bmi__label {
  margin-bottom: 10px;
  font-weight: bold;
}

.bmi__input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bmi__gender {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
}

.bmi__gender-option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bmi__radio {
  margin-right: 6px;
}

.bmi__measurements {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.bmi__calculate-button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.bmi__calculate-button:hover {
  background-color: #0056b3;
}

.bmi__result {
  margin-top: 25px;
  text-align: center;
}

.bmi__result-value {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.bmi__comment {
  font-style: Poppins, sans-serif;
  color: #555;
}

@media (max-width: 1024px) {
  .bmi__box {
    padding: 25px;
  }
}

@media (max-width: 600px) {
  .bmi__measurements {
    flex-direction: column;
  }

  .bmi__gender {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .bmi__box {
    padding: 20px;
  }

  .bmi__title {
    font-size: 1.5rem;
  }

  .bmi__calculate-button {
    padding: 10px;
    font-size: 1rem;
  }

  .bmi__result-value {
    font-size: 1.5rem;
  }
}
